@import "tailwindcss";

::-webkit-scrollar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #9ca3af;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: #4b5563;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #4b5563 transparent;
  }
}
